@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 350px;
  width: 280px;
  position: relative;
}
.card .top-suit {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 50px;
}

.card .bottom-suit {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 50px;
}

.number {
  display: inline-block;
  font-size: 140px;
  padding-top: 40px;
}
